#Services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Services h3 {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  color: #f4f4f4;
  font-size: 2rem;
  margin-bottom: 30px;
}

#Service-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 930px) {
  #Service-container {
    flex-wrap: wrap;
  }
}
